:root {
    --mute-text : #bdc3c7;
    --white : white;
}
.header_category {
    display: flex;
    list-style-type: none;
    text-align: center;
    text-transform: capitalize;
}
.header_category .li {
    /* padding: 1rem; */
    padding-block: 1.4rem;
    flex-grow: 1;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    color: var(--mute-text);
    
}

.header_category .li:hover {
    background-color: #40474e;
    color: white;
}

.header_category .header_active {
    background-color: #40474e;
    color: var(--white);
}

.header_mobile_category {
    display: flex;
    flex-direction: column;
}


.header_login:hover {
    color: white;
    cursor: pointer;
}

.w3-sidebar{height:100%;width:200px;background-color:rgb(195, 78, 78);position:fixed!important;left:0;top:0;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .hide_sm {
        display: none;
    }
 }

 @media (max-width: 575.98px) { 
    .text-sm {
        font-size: 0.8rem;
    }
    .title-sm {
        font-size: 1.3rem;
    }
}
